body {
	*background: url('gambar/bg.png') center fixed no-repeat;
	background: #fff;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment:fixed;
}

h3 ,h1{
	font-family:Georgia, serif;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#090c2f;;
}

hr {
	color:#000;
}

.navbar {
	text-transform:uppercase;
	*border-top:3px solid #0c0278;
	width:100%;
	font-size:12pt;
	letter-spacing: 2px;
	border-bottom:5px solid #c58d26;
}

.navbar a {
	color:#fff !important;
	*text-shadow: 0 0 4px #e6e6e6;
}

.navbar a:hover, .navbar li.active a {
	color:#c58d26 !important;
	text-decoration:none;
}

.slide {
	margin:10px;
	*background:rgba(241, 245, 253, 1);
}

.tentang {
	background:#fff;
	margin-bottom:50px;
	*margin-top:50px;
}

.tentang p {
	font-size:12pt;
	text-align:justify;
	color:#000;
}

.layanan {
	margin-bottom:50px;
	margin-top:50px;
	*background:rgba(241, 245, 253, 1);
	background:#fff;
}

.layanan span {
	font-size:30pt;
}

.layanan p {
	font-size:11pt;
	text-align:justify;
	color:#000;
}

.partner {
	background:#fff;
	margin-bottom:50px;
	margin-top:50px;
}

.partner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.partner li {
	display:inline;
	padding: 10px;
}

.footer {
	padding:20px;
	background:#090c2f;
	color:#fff;
	font-size:12pt;
}

.hakcipta {
	margin-top:70px;
	border-top:2px solid #c58d26;
	font-size:11pt;
}

.konten {
	margin-bottom:50px;
}

.konten p {
	font-size:12pt;
	text-align:justify;
	color:#000;
	padding:0 10px 0 10px;
}

.konten h3 {
	font-family:Georgia, serif;
	letter-spacing:3px;
	text-transform:uppercase;
	color:#bc8724;
}

.konten h4 {
	font-family:Georgia, serif;
	color:#090c2f;;
}

.konten li {
	font-size:13pt;
	text-align:justify;
	color:#000;
	padding:0 10px 10px 10px;
}

.galeri ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.galeri .row {
	padding: 15px 0 15px 0;
}

.galeri a {
	color:#090c2f;
}

.galeri a:hover{
	color:#c58d26;
	text-decoration:none;
	box-shadow: 5px rgba(112, 112, 112, 0.77);
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.kontak label {
	color:#090c2f;
}

.kontak table {
	font-family:Georgia, serif;
	letter-spacing:2px;
	color:#090c2f;
	font-size:14pt;
}
